
@{
    ViewBag.Title = "Index";
}

<link href="~/Content/css/Index1.css" rel="stylesheet" />

<!DOCTYPE html>
<html>
<head>
    <title>Doctor Patient</title>


    <link href="https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Open+Sans:wght@300&display=swap" rel="stylesheet">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="X-UA-Compatible" content="id=edge">
</head>

<body>
    <div class="wrapper">
        <div class="btn">

            @using (Html.BeginForm("Index1", "home1"))
            {
                <button type="submit" class="buttonA"> Admin</button>
            }


        </div>

    </div>


    <div class="wrapper" style="text-decoration: none;">
        <div class="btn">
            @using (Html.BeginForm("Index2", "home1"))
            {
                <button type="submit" class="buttonP">Patient</button>
          
            }

    </div>


   

    </div>
</body>
</html>






